<nav id="siteNav">
        <div class="nav-dd">
          <a href="/assessment.html" class="nav-dd-top">Assessments <svg class="nav-dd-caret" viewBox="0 0 24 24" aria-hidden="true"><path d="M6 9l6 6 6-6"/></svg></a>
          <div class="nav-dd-menu">
            <a href="/assessment.html">Individual</a>
            <a href="/kids-assessment.html">Kids</a>
          </div>
        </div>
        <div class="nav-dd">
          <a href="/individual.html" class="nav-dd-top">Analysis <svg class="nav-dd-caret" viewBox="0 0 24 24" aria-hidden="true"><path d="M6 9l6 6 6-6"/></svg></a>
          <div class="nav-dd-menu">
            <a href="/individual.html">Individual</a>
            <a href="/kids-individual.html">Kids</a>
            <a href="/couples.html">Couples</a>
            <a href="/dating.html">Dating</a>
            <a href="/social.html">Social</a>
            <a href="/siblings.html">Siblings</a>
            <a href="/family.html">Family</a>
            <a href="/professionals.html">Professional Teams</a>
            <a href="/billets.html">Billets</a>
            <a href="/careers.html">Careers</a>
          </div>
        </div>
        <div class="nav-dd">
          <a href="/collisions.html" class="nav-dd-top">Parser Collisions <svg class="nav-dd-caret" viewBox="0 0 24 24" aria-hidden="true"><path d="M6 9l6 6 6-6"/></svg></a>
          <div class="nav-dd-menu">
            <a href="/collisions.html#individual">Individual</a>
            <a href="/collisions.html#kids">Kids</a>
            <a href="/collisions.html#couples">Couples</a>
            <a href="/collisions.html#dating">Dating</a>
            <a href="/collisions.html#social">Social</a>
            <a href="/collisions.html#siblings">Siblings</a>
            <a href="/collisions.html#family">Family</a>
            <a href="/collisions.html#teams">Professional Teams</a>
            <a href="/collisions.html#billets">Billets</a>
          </div>
        </div>
      </nav>
